
.rowMargin {
    margin-bottom: 30px;

}
.cakeImg {
    max-width: 100%;

   overflow: hidden;
}

#homebtn {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: #555; */
  color: rgb(235, 27, 217);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.ml-auto {
padding: 5px;
}

.cakeGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 .cakeGallery img { 
     max-width: 400px;
     max-height:400px;
     height:auto;
     width: auto; 
     margin: 10px;
     background-color: #aaa;
 }