.rowMargin {
  margin-bottom: 30px;
}
.cakeImg {
  max-width: 100%;

  overflow: hidden;
}

.header {
  background-color: rgb(236, 207, 234);
  color: fff;
}

#homebtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: #555; */
  color: rgb(231, 29, 218);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.ml-auto {
  padding: 5px;
}

.cakeGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cakeGallery img {
  max-width: 400px;
  max-height: 400px;
  height: auto;
  width: auto;
  margin: 10px;
}

.cake {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cake img {
  max-width: 600px;
  max-height: 600px;
  height: auto;
  width: auto;
  margin: 10px;
}

h4 {
  padding-left: 15px;
}

h5 {
  padding-left: 15px;
}

button {
  position: relative;
  top: 10px;
  left: 20px;
}
